@use "../abstracts";

.auth {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  background-color: var(--auth-bg);

  @include abstracts.screen(md) {
    grid-template-columns: 1fr;
  }
  &__intro,
  &__content {
    padding: 0 10px;
  }
  &__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include abstracts.screen(md) {
      padding-top: 80px;
      padding-bottom: 50px;
      justify-content: space-between;
    }
    &-block {
      max-width: 422px;
      margin: 0 auto;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }

    &-img {
      margin-bottom: 49px;
      max-width: 100%;
    }

    &-desc {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 144.444%;
    }
  }

  &__content {
    background-color: var(--auth-content);
    display: flex;
    justify-content: center;

    @include abstracts.screen(md) {
      position: fixed;
      inset: 0;
      z-index: 1;
      transition: translate 0.25s linear;
      overflow-y: auto;
      &.hide {
        translate: 100% 0;
      }
      &.show {
        translate: 0 0;
      }
    }

    &--inner {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      padding: 50px 10px;

      //   @include abstracts.screen(md) {
      //     overflow-y: auto;
      //   }
    }
  }

  &__heading {
    color: var(--auth-heading);
    font-size: 3rem;
    font-weight: 500;
    line-height: 146.667%;
    text-align: center;
    margin-top: 50px;
  }

  &__desc {
    margin-bottom: 10px;
    color: #9e9da8;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
  }

  &__form {
    margin-top: 60px;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    gap: 50px 0;

    &--content {
      display: flex;
      flex-flow: column nowrap;
      gap: 30px 0;
    }

    &--act {
      display: flex;
      flex-flow: column nowrap;
      gap: 30px 0;
    }
  }

  &__btn {
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
  }

  &__text {
    margin-top: 108px;
    color: var(--auth-text-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 144.444%;
  }

  &__link {
    color: #0071dc;
    margin-left: auto;
  }
}
