@use "../abstracts";
html.dark {
  --background-color: #292e39;
  --text-color: #ffffff;
  --icon-color: brightness(0) saturate(100%) invert(99%) sepia(7%) saturate(302%) hue-rotate(235deg) brightness(120%)
    contrast(100%);

  --header-bg-color: #171c28;
  --top-act-group-bg-color: #292e39;
  --top-act-group-separate-color: #ededf6;
  --box-shadow-color: rgba(0, 0, 0, 0.2);

  // Dropdown
  --dropdown-bg-color: #292e39;
  --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(19%) sepia(17%) saturate(574%) hue-rotate(182deg)
    brightness(98%) contrast(94%);
  --top-menu-border-color: #d2d1d6;
  --dropdown-icon-color: brightness(0) saturate(100%) invert(88%) sepia(5%) saturate(78%) hue-rotate(226deg)
    brightness(110%) contrast(98%);

  //Cate item
  --cate-item-background: #171c28;
  --cate-item-thumb-bg: #292e39;
  --cate-item-title: #fff;
  --cate-item-md-background: #171c28;

  //Filter button
  --filter-btn-bg: #171c28;
  --filter-text-color: #fff;
  @include abstracts.screen(md) {
    --filter-text-color: #fff;
  }

  //Like button
  --like-btn-bg: #292e39;

  //Product card
  --product-card-bg: #171c28;
  --product-card-shadow: rgba(0, 0, 0, 0.2);

  // Filter
  --filter-bg: #292e39;
  --filter-box-shadow: rgba(0, 0, 0, 0.4);
  --filter-icon-arrow: brightness(0) saturate(100%) invert(13%) sepia(19%) saturate(717%) hue-rotate(183deg)
    brightness(97%) contrast(88%);

  //Tag
  --filter-form-tag-bg: #171c28;
}
