@use "../abstracts";

html {
  --background-color: #f6f6f6;

  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(7%) sepia(15%) saturate(3107%) hue-rotate(215deg) brightness(96%)
    contrast(95%);

  --header-bg-color: #eee;
  --top-act-group-bg-color: #fff;
  --top-act-group-separate-color: #ededf6;
  --box-shadow-color: rgba(237, 237, 246, 0.2);

  @include abstracts.screen(md) {
    --header-bg-color: #fff;
  }

  @include abstracts.screen(lg) {
    --header-bg-color: #fff;
  }

  // Dropdown
  --dropdown-bg-color: #fff;
  --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
  --top-menu-border-color: #d2d1d6;
  --text-menu-hover: #0071dc;
  --dropdown-icon-color: brightness(0) saturate(100%) invert(7%) sepia(15%) saturate(3107%) hue-rotate(215deg)
    brightness(96%) contrast(95%);

  //Cate item
  --cate-item-background: #eee;
  --cate-item-thumb-bg: #fff;
  --cate-item-title: #000;
  --cate-item-md-background: #fff;
}
