@use "../abstracts";

.dropdown {
  // display: none;
  position: absolute;
  left: 0;

  border-radius: 20px;
  padding: 54px 0 0;

  width: min(1240px, 100%);
  &__inner {
    --inner-padding: 30px;
    position: relative;
    padding: var(--inner-padding);
    border-radius: 20px;
    background-color: var(--dropdown-bg-color);
    box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);

    &::before {
      content: url("../icons/dropdown-arrow.svg");
      position: absolute;
      top: -13px;
      left: var(--arrow-left-pos);
      translate: -50%;
      filter: var(--dropdown-arrow-color);
    }

    .top-menu {
      position: relative;

      &__main {
        --main-column-width: 292px;
        border-right: 1px solid var(--top-menu-border-color);
        width: var(--main-column-width);
        height: calc(min(582px, 100vh - 154px) - 2 * var(--inner-padding));
        overflow-y: auto;
      }
    }
  }
}

.menu-column {
  display: flex;
  gap: 0 14px;

  &__icon {
    width: 36px;
    height: 36px;
    position: relative;

    flex-shrink: 0;

    @include abstracts.breakpoints(xl) {
      display: none;
    }
    &-2 {
      position: absolute;
      right: 0;
      bottom: 0;

      filter: var(--dropdown-icon-color);
    }
  }

  &__content {
    flex: 1;
  }

  &__heading {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
    padding: 6px 0;
  }

  &__list {
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;

    li {
      &:first-of-type {
        > .menu-column__link {
          padding: 0 0 7px;
        }
      }
      &:last-of-type {
        > .menu-column__link {
          padding: 7px 0 0;
        }
      }
    }

    li:hover {
      > .menu-column__link {
        color: var(--text-menu-hover);
        font-weight: 500;
      }
      > .sub-menu {
        display: grid;
      }
    }
  }

  &__link {
    display: block;
    padding: 7px 0;
    font-size: 1.4rem;
    line-height: 140.857%;
  }
}

.sub-menu {
  position: absolute;
  inset: 0 0 0 var(--main-column-width);
  display: none;
  grid-template-columns: repeat(3, 1fr);
  padding-left: var(--inner-padding);
  overflow-y: auto;
}

.sub-menu div.menu-column + div.menu-column {
  margin-top: 30px;
}
