@use "../abstracts";

.filter-wrap {
  position: relative;
}

.filter {
  transition: opacity, visibility;
  transition-duration: 0.2s;
  position: absolute;
  right: 9px;
  top: 53px;
  z-index: 10;
  border-radius: 20px;
  padding: 31px 30px;
  background-color: var(--filter-bg);
  box-shadow: 0px 40px 90px var(--filter-box-shadow);

  @include abstracts.screen(xl) {
    height: calc(100vh - 100px);
    padding: 31px 30px 0;
    overflow-y: auto;
    overscroll-behavior: contain;
  }

  @include abstracts.screen(lg) {
    height: auto;
    padding: 31px 30px;
  }

  @include abstracts.screen(sm) {
    height: calc(100vh - 100px);
    width: 85vw;
    padding: 31px 30px 0;
    overflow-y: auto;
  }
  &__content {
    @include abstracts.screen(xl) {
      display: flex;
      flex-flow: column nowrap;
    }
  }

  &.show {
    visibility: visible;
    opacity: 1;
  }
  &.hide {
    visibility: hidden;
    opacity: 0;
  }
  &__arrow {
    position: absolute;
    top: -15px;
    right: 24px;
    height: 20.5px;

    filter: var(--filter-icon-arrow);
  }

  &__footer {
    margin-top: 18px;
    justify-content: flex-end;
    position: sticky;
    bottom: 0;
    left: 0;
    background-color: var(--filter-bg);
    @include abstracts.screen(lg) {
      padding-bottom: 31px;
      position: static;
      padding: 0;
    }

    @include abstracts.screen(sm) {
      position: sticky;
      bottom: 0;
      left: 0;
      background-color: var(--filter-bg);
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }

  &__cancel,
  &__submit {
    height: 38px;
    padding: 0 10px;

    @include abstracts.screen(sm) {
      flex: 1;
    }
  }

  &__cancel {
    font-size: 1.5rem;
  }

  &__submit {
    font-size: 1.4rem;
    height: 38px;
  }

  &__form {
    &-label {
      display: block;
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 145.455%;

      &--small {
        font-size: 1.4rem;
        line-height: 142.857%;
        margin-bottom: 10px;
      }
    }

    &-select-wrap {
      display: flex;
      align-items: center;
      height: 45px;
    }

    &-text-input,
    &-select-wrap {
      border-radius: 6px;
      border: 1px solid #d2d1d6;
    }

    &-select {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 0 14px;
      min-width: var(--width, 108px);
      height: calc(100% - 10px);

      font-size: 1.4rem;
      font-weight: 500;
      line-height: 142.857%;

      @include abstracts.screen(sm) {
        min-width: auto;
        width: 100%;
      }

      cursor: pointer;
    }

    &-select + &-select {
      border-left: 1px solid #d2d1d6;
    }

    &-input-icon {
      width: 24px;
      margin-left: 10px;
    }

    &-text-input {
      display: flex;
      align-items: center;
      padding: 10px 16px;
      background-color: transparent;

      width: 334px;
      height: 46px;
      padding: 0 16px;

      @include abstracts.screen(xl) {
        width: 100%;
      }
      &--small {
        width: 121px;
        height: 36px;
        padding: 0 12px;

        @include abstracts.screen(xl) {
          width: 100%;
        }
      }
    }

    &-input {
      width: 100%;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 146.667%;
      &--small {
        font-size: 1.4rem;
        line-height: 142.857%;
      }
      &::placeholder {
        font-size: 1.5rem;
        line-height: 146.667%;
      }
    }

    &-group {
      &--inline {
        display: flex;
        gap: 30px;
      }
    }

    &-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 10px 20px;

      @include abstracts.screen(xl) {
        gap: 9px;
      }
    }

    &-tag {
      padding: 6px 12px;
      border-radius: 6px;

      color: #9e9da8;
      background: var(--filter-form-tag-bg);

      font-size: 1.4rem;
      font-weight: 500;
      line-height: 142.857%;

      transition: color 0.2s;

      &:hover {
        color: var(--text-color);
      }
    }

    &-slider {
      width: 100%;
      height: 2px;
      background-color: #d2d1d6;
      position: relative;

      &::after,
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: 6px solid #ffb700;
        background-color: var(--filter-bg);
      }

      &::before {
        left: var(--min-value);
      }

      &::after {
        left: var(--max-value);
      }
    }

    &-text-input {
      display: flex;
    }
  } //close form

  &__heading {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 145.455%;
    margin-bottom: 30px;
  }

  &__row {
    display: flex;
    gap: 30px;
  }

  &__col {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    &:first-child {
      gap: 30px;
    }
  }

  &__separate {
    width: 1px;
    background-color: #eee;

    @include abstracts.screen(xl) {
      width: 100%;
      height: 1px;
    }
  }
}
