.form {
  &:has(:invalid) &__submit-btn {
    opacity: 0.5;
    pointer-events: none;
  }
  &__submit-btn {
    opacity: 1;
  }
  &__checkbox {
    display: none;
    &:checked + .form__label-checkbox {
      &::before {
        background-color: #ffb700;
        border-color: transparent;
      }
      &::after {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &__label-checkbox {
    position: relative;
    padding-left: 30px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1.5px solid var(--form-text-color);
      border-radius: 5px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 3px;
      top: 50%;
      translate: 0 -80%;
      width: 15px;
      height: 10px;
      border-left: 3px solid #fff;
      border-bottom: 3px solid #fff;
      border-radius: 2px;
      visibility: hidden;
      opacity: 0;
      rotate: 306deg;
    }
  }

  &__text-input {
    border: 1px solid var(--form-group-border);
    padding: 12px;
    border-radius: 10px;
    &:has(.form__input-icon) {
      padding: 12px 40px 12px 12px;
    }

    &:focus-within {
      border-color: #76dae6;
    }
  }
  &__group {
    position: relative;

    &--inline {
      border: none;
      display: flex;
      align-items: center;
    }
  }

  &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
    .form__text-input {
      border-color: red;
      background-color: rgba($color: red, $alpha: 0.1);
    }
    .form__input-error {
      color: red;
    }

    .form__input-icon {
      visibility: hidden;
      opacity: 0;
      &--error {
        visibility: visible;
        opacity: 1;
        animation: horizontal-shaking 0.3s;
      }
    }
  }

  &__input {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
    &::placeholder {
      color: var(--form-input-placeholder);
      font-size: 1.8rem;
      font-weight: 500;
    }
    &-icon {
      position: absolute;
      right: 12px;
      top: 50%;
      translate: 0 -50%;

      &--error {
        visibility: hidden;
        opacity: 0;
      }
    }

    &-error {
      position: absolute;
      bottom: 0;
      left: 10px;
      translate: 0 calc(100% + 5px);
      font-size: 1.4rem;
      color: transparent;
    }
  }

  &__text {
    color: var(--form-text-color);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
  }
}
